ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(133, 133, 133);
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

body{
    background-color: rgb(62, 3, 3);
}
img{
    margin: 10%;
}